<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="/templates/layout.html">
    <head>
        <ui:define name="windowTitle">

        </ui:define>
    </head>
    <body><ui:define name="top">
                <ui:include src="/sections/login/header.html"/>
            </ui:define>

            <ui:define name="left">
                <ui:include src="/sections/login/sidebar.html"/>
            </ui:define>

            <ui:define name="content">
                <h:form class="form-horizontal" style="margin-bottom: 20px;">
                    <fieldset>
                        <legend>Sign-in</legend>
                            <p><label>Username: <h:inputText class="form-control" value="#{user.name}"/></label></p>
                            <p><label>Password: <h:inputSecret class="form-control" value="#{user.password}"/> </label></p>
                    </fieldset>
                        <h:commandButton value="Send" action="#{user.loginUser}" class="btn btn-default"/>
                </h:form>
            </ui:define>
    </body>
    </ui:composition>
</html>
